<launch>
  <include file="$(find ship_los)/launch/included.launch" >
    <!-- all vars that included.launch requires must be set -->
    <arg name="init_x" default="4" />
    <arg name="init_y" default="-5" />
    <arg name="init_heading" default="1.78" />
  </include>
  
  <node
    pkg="rviz"
    type="rviz"
    name="rviz_node"
  />
  <node
    pkg="ship_los"
    type="viz_ship"
    name="visualization_node"
  />
  <node
    pkg="ship_los"
    type="los_guidance"
    name="guidance_node"
    launch-prefix="xterm -e"
  />
  <node
    pkg="ship_los"
    type="path_controller"
    name="control_node"
  />

</launch>
