<launch>
  <include file="$(find ship_los)/launch/included.launch" >
    <!-- all vars that included.launch requires must be set -->
    <arg name="init_x" default="4" />
    <arg name="init_y" default="-5" />
    <arg name="init_heading" default="1.78" />
  </include>
  
  <param 
    name="robot_description" textfile='$(find ship_los)/urdf/ship.urdf' 
  />
  <param 
    name="use_gui" value="False"
  /> 
  
  <node 
    name="robot_state_publisher" 
    pkg="robot_state_publisher" 
    type="state_publisher" 
  />
  <node
    pkg="rviz"
    type="rviz"
    name="rviz_node"
    args="-d $(find ship_los)/config/rviz.rviz"
  />
  <node
    pkg="ship_los"
    type="viz_ship"
    name="visualization_node"
  />
  <node
    pkg="ship_los"
    type="los_guidance"
    name="guidance_node"
    launch-prefix="xterm -e"
  />
  <node
    pkg="ship_los"
    type="path_controller"
    name="control_node"
  />
  <node
    pkg="ship_los"
    type="teleop_keyboard"
    name="teleop_node"
    launch-prefix="xterm -e"
  />
  <node
    pkg="topic_tools"
    type="mux"
    name="mux_cmd"
    args="ship/actuation ship/manual_control ship/auto_control">
  </node>

</launch>
