<?xml version="1.0"?>
<robot name="remus100">
  <link name="REMUS">
    <visual>
      <geometry>
        <cylinder length="1.2" radius="0.1"/>
      </geometry>
      <origin rpy="1.570796 0 1.570796" xyz="0 0 0"/>
      <material name="yellow">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
  </link>

  <link name="nose">
    <visual>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.6 0 0"/>
      <material name="yellow">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
  </link>
  
  <joint name="base_to_nose" type="fixed">
    <parent link="REMUS"/>
    <child link="nose"/>
    <origin xyz="0 0 0"/>
  </joint>
  
  <link name="right_wing">
    <visual>
      <geometry>
        <box size="0.1 .6 .01"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0.3 0"/>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>     
    </visual>
  </link>

  <joint name="base_to_right_wing" type="fixed">
    <parent link="REMUS"/>
    <child link="right_wing"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="left_wing">
    <visual>
      <geometry>
        <box size="0.1 .6 .01"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 -0.3 0"/>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>     
    </visual>
  </link>

  <joint name="base_to_left_wing" type="fixed">
    <parent link="REMUS"/>
    <child link="left_wing"/>
    <origin xyz="0 0 0"/>
  </joint>
  
</robot>
